.TextInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.LabelRoot {
    font-weight: bold;
    font-size: 14px;
    color: var(--secondary-color);
}

.Input {
    padding: 8px;
    font-size: 14px;
    border: var(--border);
    border-radius: 4px;
}

.InputError {
    border-color: var(--danger-color);
}

.errorText {
    color: var(--danger-color);
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}