.Button {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Kanit", serif;;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 160px;
    width: 100%;
}

.Button span {
    color: var(--bg-secondary-color);
    margin: 0px;
}

.Button .Icon {
    margin-right: 5px !important;
}

.Button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

.ButtonPrimary {
    background-color: var(--primary-color);
    color: var(--bg-secondary-color);
}

.ButtonPrimary:hover:not(:disabled) {
    background-color: var(--secondary-color);
}

.ButtonSuccess {
    background-color: var(--success-color);
    color: var(--bg-secondary-color);
}

.ButtonSuccess:hover:not(:disabled) {
    filter: brightness(0.7);
}

.ButtonDanger {
    background-color: var(--danger-color);
    color: var(--bg-secondary-color);
}

.ButtonDanger:hover:not(:disabled) {
    filter: brightness(0.7);
}

.Small {
    font-size: 12px;
    padding: 7px 12px;
}

.Medium {
    font-size: 16px;
    padding: 12px 20px;
}

.Large {
    font-size: 20px;
    padding: 17px 32px;
}

.ErrorButton {
    background-color: var(--danger-color);
    cursor: not-allowed;
}

.Icon {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
  
.Button span + .icon {
    margin-right: 0;
    margin-left: 0.5rem;
}

.Button span svg {
    height: 18px;
    width: 18px;
}