.tableContainer {
    margin: 20px auto;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bdbdbd;
}
  
.customTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.customTable th,
.customTable td {
    padding: 12px 15px;
    text-align: left;
}

.customTable thead th {
    background-color: #f4f4f4;
    color: #42350d;
    border-bottom: 2px solid #ddd;
}

.customTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.customTable tbody tr:hover {
    background-color: #f1f1f1;
}

.customTable tbody td {
    border-bottom: 1px solid #ddd;
    color: #42350d;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

/* Estilos do Dialog */
.dialogContent {
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 400px;
    z-index: 1;
    position: absolute;
    top: 10%;
}

.dialogRowContent {
    background: #fff3ce;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #d9d3c1;
}

.dialogTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.dialogDescription {
    font-size: 16px;
    margin-top: 0;
    margin: 5px;
}

.dialogOverlay {
    backdrop-filter: brightness(0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.iconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    color: #42350d;
    position: absolute;
    top: 10px;
    right: 10px;
}

.iconButton svg {
    display: flex;
    justify-content: center;
    align-items: center;
}