.button {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Kanit", serif;;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 185px;
    width: 100%;
}

.button span {
    color: var(--bg-secondary-color);
    margin: 3px !important;
}

.button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

/* Variantes */
.buttonPrimary {
    background-color: var(--primary-color);
    color: var(--bg-secondary-color);
}

.buttonPrimary:hover:not(:disabled) {
    background-color: var(--secondary-color);
}

.buttonSuccess {
    background-color: var(--success-color);
    color: white;
}

.buttonSuccess:hover:not(:disabled) {
    filter: brightness(0.7);
}

.buttonDanger {
    background-color: var(--danger-color);
    color: var(--bg-secondary-color);
}

.buttonDanger:hover:not(:disabled) {
    filter: brightness(0.7);
}

/* Tamanhos */
.small {
    font-size: 12px;
    padding: 7px 12px;
}

.medium {
    font-size: 16px;
    padding: 12px 20px;
}

.large {
    font-size: 20px;
    padding: 17px 32px;
}

.errorButton {
    background-color: var(--danger-color);
    cursor: not-allowed;
}

.icon {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
  
.button span + .icon {
    margin-right: 0;
    margin-left: 0.5rem;
}

.button span svg {
    height: 18px;
    width: 18px;
}